<html>
    <head>
      
       
    </head>
    <body>
      <h2>Temperature Converter</h2>
        <p>Converting...</p><div class="dot-carousel"></div>
        <div class="form-group d-flex flex-row">
            Celcius:<input [(ngModel)]='c' type="number" name="c" class="form-group">&nbsp;&nbsp;&nbsp;
            Fahrenheit:<input [(ngModel)]='f' type="number" name="f" class="form-group">&nbsp;&nbsp;&nbsp;
        <button class='btn btn-success' id="convert" (click)="convertTemp()">Convert</button>
      </div>

    </body>
</html>
    
    
    
    
    




